<!--The content below is only a placeholder and can be replaced.-->
<div>


  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="'beer'"> Beers
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="'apod'"> Apod
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="'form'"> Form sample
    </label>
  </div>
  <hr>

  <app-beers *ngIf="model==='beer'"></app-beers>
  <app-apod *ngIf="model==='apod'"></app-apod>
  <app-my-form *ngIf="model==='form'"></app-my-form>
</div>
